<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Clientes:</h3>

  <br>
  <!-- Tabela de clientes -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.name %></td>
          <td><%= client.state %></td>
          <td><%= link_to 'Buscar Advogado', client %></td>
          <td><%= link_to 'Editar', edit_client_path(client) %></td>
          <td><%= link_to 'Excluir', client, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este cliente?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

   <!-- Cria novo cliente -->
  <%= link_to 'Novo Cliente', new_client_path %>

  <br><br><br><br>

  <h3>Advogados:</h3>

  <br>

  <!-- Lista de advogados existentes-->
  <% @lawyers.each do |lawyer| %>

    <li><%= lawyer.name %>: <%= lawyer.state %></li>
    <br>

  <% end %>

</div>
