<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Cliente Selecionado:</h3>

  <p>
    <strong>Nome:</strong>
    <%= @client.name %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @client.state %>
  </p>

  <br>

  <h3>Advogado(a) Disponível:</h3>

    <!-- Se não houver advogados disponiveis -->
  <% if @lawyer.nil? %>
    <h4>Nenhum!</h4>
  <% else %>
    <!-- Pega o advogado que foi selecionado no controller -->
    <li><%= @lawyer.name %>: <%= @lawyer.state %></li>
  <% end %>

  <br>

  <%= link_to 'Editar', edit_client_path(@client) %> |
  <%= link_to 'Voltar', clients_path %>
</div>
